@import url(fonts/fonts.css);

:root {
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --heading: Cooper, cooper_black, 'Bookman Old Style', bookman;
  --title: Shrikhand, var(--heading);
  --grad: linear-gradient(to top right, cyan, dodgerblue);
  --bg: #22201c;
  --fg: #ccc;
  color: var(--fg);
  background: var(--bg);
  font-family: var(--sans);
  padding: 1rem;
}
body { max-width: 650px; margin: auto; }

header img {
  background: var(--grad) border-box;
  border: solid 1.5px transparent;
  border-radius: 50%;
  /*clip-path: circle(50%);*/
}

a { color: inherit; }

h1 { font-family: var(--heading); }

svg.feather {
  width: 1.2em;
  height: 1.2em;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

footer {
  text-align: center;
  font-size: small;
  margin-top: 1.5rem;
}
