@import url(fonts/fonts.css);

:root {
  --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --heading: Shrikhand, Cooper, 'Bookman Old Style', bookman;
  --grad: linear-gradient(to top right, cyan, dodgerblue);
  --bg: #22201c;
  color: #bbb;
  background: var(--bg);
  font-family: var(--sans);
  padding: 1.5rem;
}
body { max-width: 650px; margin: auto; text-align: center; }

a { color: inherit; }

h1 { font-family: var(--heading); color: #ccc; }
img.mainpic {
  background: var(--grad) border-box;
  border: solid 1.5px transparent;
  border-radius: 50%;
  /*clip-path: circle(50%);*/
}

nav {
  --brad: 1em;
  width: max-content;
  text-align: left;
  border: solid 1.5px #444;
  border-radius: var(--brad);
  margin: auto;
}
nav:hover {
  background: var(--grad) border-box;
  border-color: transparent;
}
nav > div { background: var(--bg); border-radius: var(--brad); }
nav > div > ul {
  padding: .5rem 0;
  margin: 0 auto;
  list-style: none;
  background-image: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
}
nav li > a {
  display: block;
  padding: .5rem 2rem;
  text-decoration: none;
}
nav li > a:hover { color: transparent; font-weight: bold; }
nav li > a:hover svg.icon { stroke: url(#grad); }
nav li > a * { vertical-align: middle; }
svg.icon {
  width: 36px;
  height: 36px;
  margin-inline-end: 1rem;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}
footer {
  font-size: small;
  margin-top: 1.5rem;
}
