:root {
  --sans: system-ui, sans-serif;
  --serif: source_serif_pro, serif;
  --bg: #22201c;
  background: var(--bg);
  color: #bbb;
  font-family: var(--sans);
  padding: 1.5rem;
}
h1 {
  margin-top: 0;
  color: #ccc;
}
body {
  max-width: 650px;
  margin: 1rem auto;
  text-align: center;
}
a { color: inherit; text-decoration: inherit; }
svg.icon {
  width: 36px;
  height: 36px;
  margin-inline-end: 1rem;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}
img.mainpic {
  border: solid 1px;
  border-radius: 50%;
  /*clip-path: circle(50%);*/
}
nav {
  --grad: linear-gradient(45deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  --grad: linear-gradient(to top right, cyan, dodgerblue);
  width: max-content;
  padding: 1px;
  border-radius: 1em;
  margin: auto;
}
nav:hover {
  background-image: var(--grad);
}
nav > div {
  background: var(--bg);
  border-radius: 1em;
}
nav > div > ul {
  padding: .5rem 0;
  margin: 0 auto;
  text-align: left;
  background-image: var(--grad); /*linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  -webkit-background-clip: text;
  background-clip: text;
}
nav li {
  display: block;
  padding: .5rem 2rem;
  cursor: pointer;
}
nav li:hover {
  color: transparent;
}
nav li:hover svg.icon {
  stroke: url(#grad);
}
li * {
  vertical-align: middle;
}
