@import url(base.css);

body {
  max-width: 650px;
  margin: auto;
  text-align: center;
}
footer {
  text-align: center;
  font-size: small;
  margin-top: 1.5rem;
}

h1 { font-size: 2.25em; margin-block: .4em; }
nav {
  --brad: 1em;
  width: max-content;
  text-align: left;
  border: solid 1.5px #444;
  border-radius: var(--brad);
  margin: auto;
}
nav:hover {
  background: var(--grad) border-box;
  border-color: transparent;
}
nav > div { background: var(--bg); border-radius: var(--brad); }
nav > div > menu {
  padding: .5rem 0;
  margin: 0 auto;
  list-style: none;
  background-image: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
}
menu li > a {
  display: block;
  padding: .5rem 2rem;
  text-decoration: none;
}
menu li > a:hover { color: transparent; font-weight: bold; }
menu li > a:hover svg.feather { stroke: url(#grad); }
menu li > a * { vertical-align: middle; }
menu li svg.feather {
  font-size: xx-large;
  margin-inline-end: 1rem;
}